.policy{
.inner{
    padding: 20px 30px;
    background-color: rgba(248, 244, 238, 0.196);
    position: relative;
    width: 100%;
    top: 117px;
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.heading-title{
    display: block;
    margin-top:20px;
    text-align: center;
}

p{
    display: block;
}
.poclicy-detail{
    margin-bottom: 50px;
}

h3{
    margin-top: 20px;
}
}