/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.left{
float: left;
}
.right{
    float: right;
}
.mt-32{
   margin-top: 32px;
}
.open{
    display: block;
}
.close{
    display: none;
}
.display {
    display: inline-block;
}
.opacity-text {
    opacity: 1 !important;
}

.text-center {
    text-align: center !important;
}
.bottom-green{
    border-bottom: 3px solid #76b900;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.btn {
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    transition: all 0.2 linear;
    /* border: 1px solid #000; */
}

.btn-cadidator li.active {
    /* Thêm các kiểu dáng bạn muốn cho trạng thái active ở đây */
    background-color: green;
  }

.green-success:hover {
    /* background-color: #28a745; */
    color: #ffffff;
    background-color: #99FF33;
}

.green-text-success:hover {
    color: green;
    font-weight: bold;
    opacity: 1 !important;
}

.green-color-background {
    background-color: #76b900 !important;
}

.gray-color-background {
    background-color: #666;
}

.white-color {
    opacity: 0.5;
}

.btn-cadidator {
    bottom: 20px;
    width: 65px;
    margin: 0 auto;
}

.btn-cadidator li:active {
    background-color: #99FF66;
}

.btn-cadidator li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    cursor: pointer;
    background-color: #666;
    border: 0px solid #fff;
    border-radius: 10px;
}

.color-green {
    color: #76b900;
}

.btn-green-success {
    color: #99FF66;
}

.color-black {
    color: #000;
}
.underline-green{
    box-shadow: 0 3px #76b900;
    padding: 4px;
    transition: box-shadow .4s, color .3s;
}
.active {
    display: block !important;
}

.overlay-web {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    opacity: 0.6;
    top: 44px;
    left: 0;
    z-index: 1;
}

#header {
    position: fixed;
    height: 44px;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
}
#nav-list{
    margin-left: 80px;
}
#nav-list li {
    position: relative;

}

#nav-list>li {
    display: inline-block;
}


 .logo-picture {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 3px;
    bottom: 0;
    left: 130px;
    opacity: 1 ;
    border: none;
}
#nav-list li {
   float: left;
    line-height: 38px;
    text-align:center;
    padding: 0px 15px;
    text-decoration: none;
    color: #666;
    opacity: 0.8;
    font-size: 16px;
    

}

#nav-list li:hover {
    opacity: 1;
}



#nav-list #search-input {
    position: absolute;
    display: none;
    background-color: #fff;
    width: 450px;
    max-width: 1023px;
    height: 49px;
    margin: 3px auto 0 auto;
    padding: 0 15px;
    right: 0;
    top: 55px;
    z-index: 999;
    border: 1px solid;
    border: none;
}

#nav-list #search-input::before {
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 7.5%;
    top: -35px;
}

#search-input .input-text {
    /* border: 1px solid; */
    border: none;
    color: #fff;
    border-color: #e8e9ea;
    outline: none;
    width: 100%;
    padding: 0 15px;
    height: 100%;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 15px;
    line-height: 40px;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}

#search-input #icon-input {
    opacity: 0.2;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 13px;
}

#search-input #icon-input:hover {
    opacity: 1 !important;
    color: #99FF33;
    border: none;
}

/* #nav-list+#nav-list {
    padding-left: 400px;
} */

#nav-list #search-btn {
    font-size: 20px;
    display: inline-block;
    fill: #666;
}

#nav-list #account-btn {
    font-size: 20px;
    display: inline-block;
    fill: #666;

}

/* subnav */
#nav .subnav {
    /* position: relative; */
    top: 3px;
    display: block;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: lighter;
    background-color: #000;
    z-index: 1;
    border-width: 0 0 1px;
}

#nav #subnav-products {
    position: absolute;
    display: block;
    height: 387px;
    width: 100%;
    margin-top: 33px;
    z-index: 4;
    max-height: 450px;
    background-color: #eee;
    box-shadow: 0 6px 4px -4px #1a1a1a;

}

#nav #subnav-choice {
    display: block;
    position: absolute;
    z-index: 1;
    /* height: 65px; */
    width: 100%;
    float: left;
    line-height: 60px;
    background-color: rgb(247, 247, 247);
}


#nav .choice-list li {
    list-style: none;
}

#nav .choice-direction {
    float: left;
    cursor: pointer;
    width: 100px;
    text-align: center;
    color: #000;
    line-height: 44px;
    padding: 10px 10px 11px 10px;
    opacity: 0.7;
    margin: 0;
display: block;
}
#nav .choice-direction:hover{
opacity: 1 !important;

}
.display-direction{
    opacity: 1 !important;
    border-bottom: 3px solid #76b900;
}

#nav #subnav-hardware {
    display:block;
    visibility: visible;
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: #eee;
z-index: 2;
    padding: 0;
    box-shadow: 0 6px 4px -4px #1a1a1a;
}

#nav .hardware-list {
    list-style: none;
}

#nav .hardware-list .hardware-item {
    float: left;
    padding-top: 25px;
    padding-bottom: 10px;
    line-height: 25px;
    margin-right: 20px;
    font-weight: lighter;
    max-width: 190px;
    font-size: 14px;
}

.hardware-list .sub-item li {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 14px;
    color: #1a1a1a;
    max-width: 180px;
    padding: 7px 0;
}
.hardware-list .sub-item {
    margin-top: 5px;
}
.hardware-item .name-label {
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: 2px solid #ccc;
}
/* .sub-item li{
    font-size: 14px;
    color: #1a1a1a;
 line-height: 1.25em;
 font-size: 10px;
 opacity: 1;
max-width: 190px;
} */
.sub-item li a {
    text-decoration: none;
    display: block;
    color: #666;

}
#nav #subnav-software {
    display:none;
    visibility: visible;
    position: absolute;
    width: 100%;
    top: 70px;
    /* min-height: 200px; */
    background-color: #eee;
    padding: 0;
    z-index: 2;
    box-shadow: 0 6px 4px -4px #1a1a1a;
}
.hardware-item #Application-Frameworks li{
columns: 2;
/* column-gap: 10px; */
}
#subnav-software .hardware-item-double{
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 25px;
    margin-right: 20px;
    font-weight: lighter;
    font-size: 14px;
}
 #Application-Frameworks{
    column-count: 2;
    column-gap: 30px; 
}

.hardware-item-double .name-label{
    font-weight: bold;
    padding-bottom: 7px;
    padding-top: 5px;
    border-bottom: 2px solid #ccc;
}

#nav h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
#nav #subnav-solutions{
    display:none;
    visibility: visible;
    position: absolute;
    width: 100%;
    top: 41px;
    /* min-height: 200px; */
    background-color: #eee;
    padding: 0;
    z-index: 2;
    box-shadow: 0 6px 4px -4px #1a1a1a;
}
#subnav-solutions div{
min-height: 58px;
}
#nav #subnav-industries{
    display:none;
    visibility: visible;
    position: absolute;
    width: 100%;
    top: 43px;
    background-color: #eee;
    padding: 0;
    z-index: 2;
    box-shadow: 0 6px 4px -4px #1a1a1a;
}
#Industries{
column-count: 4;
column-gap: 250px;
column-span: all;
}
#Industries li{
    line-height: 20px;
    min-width: 190px;
    letter-spacing: 1px;
    font-weight: lighter;
}
#subnav-industries .name-label{
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: 2px solid #ccc;
}
#subnav-industries .hardware-item-fourth{
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 25px;
    margin-right: 20px;
    font-weight: lighter;
    font-size: 14px;
}
#nav #subnav-For-you{
    display:none;
    visibility: visible;
    position: absolute;
    width: 100%;
    top: 43px;
    background-color: rgb(247, 247, 247);
    padding: 0;
    z-index: 2;
    box-shadow: 0 6px 4px -4px #1a1a1a;
}
#subnav-For-you #For-you li{
display: inline-block;
}
#For-you li a{
    line-height: 20px;
    padding: 10px 10px 11px 10px;
    cursor: pointer;
    color: #666;
    margin: 0;
    font-size: 17px;
    font-weight: lighter;
}
#subnav-account {
    position: absolute;
    display: none;
    background-color: #eee;
    top: 46px;
    right: 0px;
    z-index: 2;

    /* width: 500px;
height: 100px; */
}

#subnav-account::before {
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    right: 4px;
    top: -30px;
}

#subnav-account li {
    text-transform: unset;
    text-decoration: none;
    color: #1a1a1a;
}

#account-btn:hover>#subnav-account {
    display: block;
}
#account-btn i{
    color: #a3a1a1;;
}
#account-btn a{
text-decoration: none;
}

#subnav-account .account-info {
    list-style: none;
color: #000;
opacity: 0.7;
    line-height: 30px;
    white-space: nowrap;
    padding: 0px 15px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
#subnav-account .account-info:hover{
opacity: 1;
}
#search-btn+#account-btn {
    margin-left: 18px;
}
#slider {
    position: relative;

    margin-top: 110px;
    max-height: 398px;
    height: 301px;
    background-color: #000;
    /* background: url("../img/geforce-ada-4090-background-image-spec2-bb300_300-d.jpg") center / cover no-repeat; */
}

/* #slider .slider-img{
    display: inline-block;
height: 398px;
width: 100%;
object-fit: cover;
} */
@keyframes sliderchange {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(50%);
    }
}

#slider .slider-item {

    margin-top: 81px;
    display: none;
    height: inherit;
    /* animation:sliderchange 1s infinite linear 4s; */
    /* min-height: 300px; */
    /* transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out; */
    /* background-color: #000; */
    /* z-index: 1; */
}

/* #slider .slider-item:nth-child(1){
    animation:sliderchange 4s infinite linear;

}
#slider .slider-item:nth-child(2){
    animation:sliderchange 4s infinite linear;

}
#slider .slider-item:nth-child(3){
    animation:sliderchange 4s infinite linear;

}
#slider .slider-item:nth-child(4){
    animation:sliderchange 4s infinite linear;

} */


#slider .slider-img {
    /* width: inherit;
max-width: 1280px;
height: inherit;
object-fit: cover; */
    position: relative;
    height: inherit;
    width: 100%;
    object-fit: cover;
    bottom: 0;
}

#slider .text-content {
    position: absolute;
    top: 30px;
    left: 90px;
}

#slider .text-brand {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

#slider .text-brand-ad {
    font-size: 25px;
}

#slider .text-heading {
    color: #fff;
    font-size: 48px;
    letter-spacing: -0.02em;
    line-height: 1em;
}

#slider .text-choose {
    color: #fff;
    text-decoration: none;
}

#slider .text-brand,
#slider .text-heading,
#slider .text-choose {
    padding-bottom: 30px;
}

.brand-green-btn {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    background-color: #76b900;
    padding: 10px 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px;
}

#slider .radius-btn {
    position: absolute;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    bottom: 50%;
}

#slider .btn-cadidator {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.btn-cadidator li:hover {
    background-color: #76b900;
}


#content .content-section {
    padding-bottom: 30px;
}

/* #content .section-heading {
    text-align: center;
    font-size: 30px;
    line-height: 1.25em;
} */
#content .list-item {
    background-color: #fff;
    max-width: 288px;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
    height: 290px;
}

#content h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2em;
}

#content h3 {
    min-height: 85px;
    line-height: 1.2em;
}

#content .produce-picture {
    display: block;
    width: 100%;
    /* border: 1px solid; */
}

/* #content .item-content{
display: flex;
flex-direction: column;
} */
.item-content a {
    display: block;
    line-height: 1.2em;
    padding: 15px 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.8;
    font-weight: 700;
}

.item-content a:hover {
    opacity: 1;
}

.item-content a:first-child {
    padding-top: 15px !important;
    padding-bottom: 0px !important;
}

.item-content a:nth-child(2) {
    padding-bottom: 15px !important;
    padding-top: 0 !important;
}

.item-content .address-name-item {
    height: 85px;
}

#content .address-item {
    color: #76b900 !important;
}

#content .icon-content {
    position: relative;
    right: 5px;
    top: -1px;
    font-size: 12px;
}

.outer-promoBanner {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
}

.outer-promoBanner .promoBanner {
	background-image: url("../../Assests/PICTURE/nvidia-dli-banner-background-image-spec2-bb300-d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.promoContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.outer-promoBanner .promoText {
    left: 95%;
    position: relative;
    width: 72%;
}

.promoText h2 {
    font-size: 35px;
}

.promoText h3 {
    font-size: 20px;
    color: #1a1a1a;
    line-height: 1.5em;
    font-weight: 700;
}


.promoText h2+h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.promoText span .promoTextbtn {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    /* padding: 15px !important; */
}

.footerLink {
    padding: 15px 0;
}

.outer-footerSection {
    padding: 30px 0;
    background-color: #eee;
    justify-content: center;
}

.outer-footerSection a {
    text-decoration: none;
}

.outer-footerSection .footer-separate {
    margin: 0 5px 0 5px;
}

#footer {
    width: 100%;
    padding: 40px 15px;
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/* .container::before {
    display: table;
    content: "";
} */

#footer .footerID-logo {
    margin: 0 auto;
    position: relative;
    float: left;
    width: 110px;
    height: 20px;
    display: block;
    margin-bottom: 30px;
}

#footer .footerOrigin {
	display: flex;
    justify-content: flex-end;
    font-size: 15px;
    opacity: 0.6;
    letter-spacing: 1px;
}

#footer .footerPolicy {
    float: left;
    list-style: none;
    clear: both;
    margin-bottom: 15px;
    opacity: 0.6;
}

#footer .footerPolicy a {
    text-decoration: none;
}

#footer .private-policy,
#footer .legal-info {
    position: relative;
    padding-right: 10px;
    margin-right: 5px;
}

#footer .footerPolicy>li::after {
    position: absolute;
    content: "";
    top: 4px;
    right: 0;
    height: 14px;
    width: 1px;
    background: #e3e3e3;
}

#footer .footerPolicy>li:last-child {
    padding-right: 0px;
    margin-right: 0px;
}

#footer .footerPolicy li {
    display: inline-block;
}

#footer .copyright {
    margin-bottom: 10px;
    clear: both;
    font-size: 13px;
    opacity: 0.6;
}


.produce-section {
    background-color: #eee;
    padding-top: 10px;
}
#brand-NVDIA{
    left: 0;
    right: 0;
    margin: 0 auto;
}
.NVIDIA-small-logo{
    width: 108.472px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0 10px 0;
    padding-left: 10px;
    padding-right: 10px;
}
.small-nvidia-item{
line-height: 33px;
padding: 5px 5px;
}
.main-menu{
    z-index: 999;
    display:block;
    position: fixed;
    width: 375px;
    height: calc(100% - 44px);
    top: 44px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
 animation: linear;
  animation-name: run;
  animation-duration: 0.5s;
}
@-webkit-keyframes run {
    0% {
      left: -300px;
    }
    100% {
      left: 0;
    }
  }
.main-menu .nav-menu-item{
    padding: 15px 15px 15px 10px;

}
.nav-menu-item{
min-width: 375px;
}
.main-menu li a{
    text-decoration: none;
font-family:Arial, Helvetica, sans-serif;
color: #666;
display: block;
padding: 2px;
font-weight: 700;
}
.title-heading{
text-decoration: none;
font-family:Arial, Helvetica, sans-serif;
color: #666;
display: block;
padding: 2px;
font-weight: 700;
}
#mega-menu{
    display: none;
}
.subnav-menu-item{
width: 375px;
list-style: none;
}
.title-nav{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f7f7f7;
    padding: 15px;
    padding-left: 15px;
    padding-left: 25px;
    padding-right: 15px;
    left: 0;
    position: relative;
    line-height: 1.25em;
}

.production-menu{
display: block;
}
#mobie-hardward{
display: none;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1em;
    text-transform: none;
    padding-top: 15px;
    
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    display: block;
}
.menu-level-3{
    padding-bottom: 15px;
}
.menu-level-3 li{
list-style: none;
background-color: #eee;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
    font-size: 14px;
    padding: 10px 10px 0 0;
    line-height: 1.25em;

}
.menu-level-3 li a{
    color: #666;
    display: block;
    padding: 2px;
    font-weight: 700;
}
.menu{
    display: block;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 40px;
    background-color: #eee;
    color: #1a1a1a;
}
.menu li{
    list-style: none;
}
#btn-hardware:hover #mobile-hardward{
    display: block;
}