
/*foot*/
#foot{
	border-top:1px solid rgb(152, 151, 151);
	margin-top: 40px;
    /* background-image: linear-gradient(0,rgba(219, 237, 237, 0.498),#ccecda); */
}
#foot .topfoot{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	padding: 15px 25px;
}
#foot .topfoot .footmenu{
	width: 25%;
	/* padding: 20px; */
}

#foot .topfoot .footmenu h4{
	/* text-align: center; */
	color: #000000;
	padding-bottom: 10px;
	margin: 10px 0;
}
#foot .topfoot .footmenu a{
	text-decoration: none;
	/* margin:0 20px; */
	margin-right: 15px;
	color: #000;
}
#foot .topfoot .footmenu p{
	text-decoration: none;
	font-size: 17px;
	padding-bottom: 20px;
	color: rgba(136, 132, 132, 0.918);
	line-height: 35px;
	transition: 0.5s;
}

#foot .topfoot .footmenu p a{
	font-family: 'Times New Roman', Times, serif;
	display: block;
	width: 100%;
	font-weight: 600;
	color: #000;
}
#foot .topfoot .footmenu a:hover{
	color: #dc7a40;
	padding-left: 10px;
}
#foot .botfoot{
	background-color: #303030;
	height: 80px;
	text-align: center;
	color: #999;
	border-top: 2px solid #282828;
	margin-top: 20px;
	font-size: 20px;
	padding-top: 16px;
}