/*cart icon*/
.Cart {
  .cart-section {
    position: absolute;
    display: none;
    right: 0;
    top: 50px;
    background-color: #fff;
    z-index: 9999;

  }
  
  .cart-section.active{
    display: block;
  }

  .cart-white {
    display: block;
    width: 550px;
    min-height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    bottom: 0;
    overflow-y: auto;
    
  }

 .cart-white::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 22px solid #fff;
    position: absolute;
    top: -20px;
    right: 25px;
 }

 .Cart:hover{
visibility: visible;
 }

 .cart-white ul{
    display: block!important;
 }

 .cart-white ul li{
    display: flex  ;
    list-style-type: none;
    align-items: center;
 }
 
.cart-heading{
  padding-left: 20px;
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
}

.cart-item{
    display: flex;
    align-items: center;
    padding: 10px;
    visibility: visible;
}

 .cart-desc{
    display: inline-flex;
    padding-left: 10px;
    color: var(--title-color);
 }

 .cart-img{
    width: 100px;
 }

.cart-tool{
    display: flex;
    justify-content: space-between;
}

 .remove-icon{
    padding-right: 30px;
    display: inline-flex;
    align-items: center;
    justify-self: flex-end;
    margin-left: 10px;
    margin-bottom: 10px;
    
 }

 .isContentVisible{
  display: block;
 }



.cart-inform{
    display:block;
 padding-left: 20px;
}
.hidden{
    display: none;
  }
 .cart-inform-heading{
    

    color: green;
    font-weight: 700;
    
 }
}
