.toggle{
  height: 100%;
  display: flex;
   color: #eaeaea;
   text-decoration: none;
   font-size: 16px;
  align-items: center;
  padding: 10px 0;
}

.icon{
  padding-right: 20px;
}

.toggle-switch {
  display: flex;
  height: 100%;
  padding-left: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 60px;
}


.toggle-switch input {
  position: absolute;
  left: -9999px;
  top: -9999px;
//   background-color: var(--toggle-color);
  &:checked + span{
    background-color: #1890ff;
    &::before{
       left: calc(100% - 45%);

    }
  }
  &:focus + span{
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  }
  &:focus:checked + span{
    box-shadow: 0 0 0 2px rgba(200,200,200,0.2);
    
  }
}

.toggle-switch span {
  display: flex;
  cursor: pointer;
  width: 50px;
  height: 25px;
  border-radius: 100px;
  background-color: #bfbfbf;
  position: relative;
  transition: background-color 0.2s;
  &::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: var(--tran-02);
  }
}
